* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(213, 226, 242);
}

/* banner*/

.logo {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  text-shadow: 2px 2px 2px black;
  font-weight: 800;
  text-align: center;
}

.banner {
  background-image: url(../images/parallax-banner.jpg);
  background: position 100%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}

/* main */

.texto {
  background-color: black;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px;
  font-weight: 500;
}
